.site-brand-title{
    padding: 3rem;
    font-size: 32px;
    text-align: center;
}

ul.navigation{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    margin: 1rem auto;

    .navigation-button{
        padding: 1rem;
        
        border: var(--color-black) 2px solid;
        border-radius: 5px;
        white-space: nowrap;

        &:hover{
            background-color: var(--color-primary-2);
            border-color: var(--color-primary-2);
            color: var(--color-white);
        }

        &.active{
            background-color: var(--color-primary-1);
            color: var(--color-white);
        }
    }
}