// Color
:root{
    --color-primary-1 : #01497c;
    --color-primary-2 : #124559;
    --color-primary-3 : #598392;

    --color-white: white;
    --color-black: black;
    --color-gary: whitesmoke;
    --color-gary-shadow: rgba(125, 125, 125, 0.8);
}